<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMO</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="position-fixed" style="left: 30px; top: 100px">

        <a class="btn btn-danger" href="/drop">Drop database</a>
    </div>
    {{{ body }}}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/font-awesome.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>