<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Capture The Flag</a></li>
        <li class="breadcrumb-item"><a href="/run/{{{team}}}">Palier 2</a></li>
        <li class="breadcrumb-item active" aria-current="page">Exercice 3 - SHA-1</li>
        <li class="btn btn-outline-primary ml-auto"><a href="/recap/{{{ team }}}">Récapitulatif</a></li>
    </ol>
</nav>

{{#if failure}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Bien essayé!</strong> Mais ce n'est pas le bon mot de passe...
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<section class="container">
    <h1>SHA-1</h1>

    <p>Le hashage c'est plutôt sympa, on code l'information sans chercher à la déchiffrer</p>
    <p>Alors, pourquoi pas essayer de décrypter du SHA-1 ?</p>

    <code>
        543909a1585e58a296591785b9f8245c199d7e57
    </code>
</section>

<section class="container mt-5">
    <form action="/run" method="post" class="form-inline">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Mot de passe</div>
            </div>
            <input type="text" class="form-control" placeholder="123456" name="password">
        </div>
        <input type="text" name="team" value="{{{ team }}}" hidden>
        <button type="submit" class="btn btn-primary ml-2">Valider</button>
    </form>
</section>