<section class="jumbotron text-center mb-0">
    <div class="container">
        <div class="display-3 mb-3">DEMO</div>
        <div class="display-4"><i class="far fa-flag"></i> Capture The Flag <i class="far fa-flag"></i></div>
    </div>

    <img src="/img/cii-logo.png" class="m-4" width="140" alt="Logo CII">
</section>
<section class="bg-info p-5">
    <div class="container">
        <h2 class="text-center">Règlement du concours</h2>

        <ul>
            <li><span class="font-weight-bold">Objectif: </span> Résoudre le plus d'exercices possible dans le temps
                imparti</li>
            <li>Le concours est composé de <span class="font-weight-bold">4 paliers</span> chacuns composés de <span
                    class="font-weight-bold">3 exercices</span></li>
            <li>La/les réponse(s) validée(s) à chaque exercice permet débloque l'accés au suivant</li>
            <li>Le classement se fait par équipe : travaillez ensemble !</li>
            <li>Essayez de ne pas <i>trop</i> casser le serveur, svp</li>
            <li>Tous les coups sont permis, que vous utilisiez une calculatrice collège, un ordinateur ou un
                oscilloscope,
                <span class="font-weight-bold">l'important c'est le résultat !</span></li>
            <li><span class="font-weight-bold">gl hf</span></li>
        </ul>
    </div>
</section>

<section class="container-fluid bg-primary text-center p-5">
    <h3>Entre ton équipe</h3>
    <form action="/start" method="POST" class="px-5">
        <div class="form-group px-5">
            <input type="text" name="team" class="form-control" placeholder="Nom de l'équipe">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-warning" value="C'est parti !">
        </div>
    </form>
</section>